body {
  background: #111;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.blob {
  width: 100%;
  height: 100%;
  fill: tomato;
}
