* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #333;
  color: white;
}
.img-box {
  width: 200px;
  margin: auto;
  margin-top: 200px;
  position: relative;
}
.img {
  width: 100%;
  border-radius: 50%;
}
.dialog {
  background-color: #222;
  padding: 8px;
  transition: 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  /* init state */
  width: 0;
  height: 0;
  /* opacity: 0; */
  border-radius: 100%;
}

.img-box:hover .dialog {
  width: 100%;
  height: 100%;
  transform: translate(-50%, 50%) scale(1.8);
  /* opacity: 1; */
  transition: width 0.4s, height 0.3s, border-radius 0.5s;
  border-radius: 38px;
  z-index: 1;
}
